* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-item {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 30px;
    font-size: 10rem;
}

.list-item::before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 0.1em solid transparent;
    border-bottom: 0.1em solid transparent;
    border-left: 0.25em solid yellow;    
    position: absolute;
    top: calc(50% - 0.1em);
    background-color: black;
    opacity: 0;
    right: calc(100% - 0.25em);
    transition: all .3s ease-in-out;
}

.list-item:hover::before {
    opacity: 1;
    right: calc(-0.25em * 0.6);
}

.list-item::after {
    content: '';
    width: 0;
    height: 2%;
    background-color: yellow;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: calc(50% - 1%);
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.list-item:hover::after {
    width: 100%;
}
.list-item::after:hover {
    width: 0;
}

.nav-link {
    text-transform: uppercase;
    position: relative;
    color: transparent;
}

.list-item:hover .nav-link::after {
    color: pink;
    transform: skewX(30deg) translateX(0.15em);
}
.nav-link::after {
    content: attr(data-text);    
    position: absolute;
    inset: 0;
    color: white;
    clip-path: inset(0 0 50% 0);
    transition: all 0.3s ease-in-out;
}
.nav-link::before {
    content: attr(data-text);    
    position: absolute;
    color: white;
    clip-path: inset(50% 0 0 0);
    transition: all 0.3s ease-in-out;
    inset: 0;
}
.list-item:hover .nav-link::before {
    color: pink;
    transform: skewX(30deg) translateX(-0.15em);
}

@media only screen and (max-width: 600px) {
    .list-item {
        font-size: 4rem;
    }
    .nav-link {
        display: inline;
    }
}

@media only screen and (max-width: 400px) {
    .list-item {
        font-size: 3rem;
    }
    .nav-link {
        display: inline;
    }
}